stages:
  - build
  - test
  - deploy
  - report

default:
  tags:
    - internal-hall035

variables:
  OTEL_EXPORTER_OTLP_ENDPOINT: "otel-collector:4318"

build:
  stage: build
  image: armdocker.rnd.ericsson.se/dockerhub-ericsson-remote/golang:1.25
  script:
    - go build -o gitlab-otel-exporter cmd/main.go
  artifacts:
    paths:
      - gitlab-otel-exporter

build-buildpack:
  stage: build
  image: armdocker.rnd.ericsson.se/dockerhub-ericsson-remote/docker:latest
  services:
    - name: docker:dind
      command: ["--tls=false"]
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - apk add --no-cache curl bash
    - curl -sSL "https://github.com/buildpacks/pack/releases/download/v0.39.0/pack-v0.39.0-linux.tgz" | tar -C /usr/local/bin/ --no-same-owner -xzv pack
    - sleep 5
    - docker info
  script:
    - pack build gitlab-otel-exporter --builder paketobuildpacks/builder-jammy-base --trust-builder

test:
  stage: test
  image: armdocker.rnd.ericsson.se/dockerhub-ericsson-remote/golang:1.25
  script:
    - go test -v -cover ./...

deploy:
  stage: deploy
  script:
    - echo "Deploying application..."
  only:
    - main

otel-export:
  stage: .post
  image: armdocker.rnd.ericsson.se/dockerhub-ericsson-remote/golang:1.25
  script:
    - export GITLAB_TOKEN=${CI_JOB_TOKEN}
    - export GITLAB_SERVER_URL=https://gitlab.internal.ericsson.com
    - go run cmd/main.go | grep TRACE_PARENT > trace.env || true
  artifacts:
    reports:
      dotenv: trace.env
  when: always
  allow_failure: true

trigger-downstream:
  stage: .post
  needs: ["otel-export"]
  trigger:
    project: sa-bos-gitops/projects/downstream-test-project
    branch: main
    strategy: depend
  variables:
    TRACEPARENT: $TRACE_PARENT
    PARENT_PIPELINE_URL: $CI_PIPELINE_URL
  when: always
  allow_failure: true
